/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
.top-container {
    background-color: #FFDBAA;
    color: #553100;
    box-sizing: border-box;
    height: 150px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: solid black 2px;
}
.page-name {
    line-height: 45px;
    margin-left: 50px;
    display: inline;
    font: 700 40px arial;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 100px;
    list-style: none;
    float: right;
    display: inline;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}
.nav-button {
    font-weight: bold;
    background-color: #805215;
    color: white;
    height: 60px;
    width: 120px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
}
body {
    background-color: #D4A76A;
}
.flights {
    background-color: white;
    position: absolute;
    top: 200px;
    left: 100px;
    width: 350px;
    height: 225px;
    box-shadow: 0 0 10px #000;
}
.group-trips {
    background-color: white;
    position: absolute;
    top: 200px;
    left: 550px;
    width: 350px;
    height: 225px;
    box-shadow: 0 0 10px #000;
}
.discount-flights {
    background-color: white;
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 350px;
    height: 225px;
    box-shadow: 0 0 10px #000;
}
.about-us {
    background-color: white;
    position: absolute;
    top: 475px;
    left: 50px;
    width: 1350px;
    height: 225px;
    box-shadow: 0 0 10px #000;
}
.box-title {
    font: 700 20px arial;
    text-align: center;
}
.main-text {
    font: 18px arial;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}
.box-button {
    font-weight: bold;
    background-color: #805215;
    color: white;
    height: 60px;
    width: 310px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border: solid black 1px;
    position: absolute;
    bottom: 20px;
}
.learn-more-button {
    font-weight: bold;
    background-color: #805215;
    color: white;
    height: 60px;
    width: 1310px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    border: solid black 1px;
    position: absolute;
    bottom: 20px;
}